/qrc/Thumbs.db
128x128/
.idea/
__pycache__/
*~
venv/
*#
/badminapp.creator.user
/badminapp.txt
/dot_git_save/
/badminapp.cflags
/badminapp.config
/badminapp.creator
/badminapp.cxxflags
/badminapp.files
/badminapp.includes
/#badminapp.txt#
/backup
/save
